[submodule "integrations/deephaven/redpanda-docker-stats"]
	path = integrations/deephaven/redpanda-docker-stats
	url = https://github.com/deephaven-examples/redpanda-docker-stats
	
[submodule "integrations/deephaven/redpanda-dxfeed-financial-data"]
	path = integrations/deephaven/redpanda-dxfeed-financial-data
	url = https://github.com/deephaven-examples/redpanda-dxfeed-financial-data

