[submodule "redpanda-dxfeed-financial-data"]
	path = partners/deephaven/redpanda-dxfeed-financial-data
	url = https://github.com/deephaven-examples/redpanda-dxfeed-financial-data
[submodule "redpanda-docker-stats"]
	path = partners/deephaven/redpanda-docker-stats
	url = https://github.com/deephaven-examples/redpanda-docker-stats
