.DS_store
.vscode/
.env
env/

# Sample datasets
*.csv

# TLS certificates and keys
*.key
*.crt
*.p12
*.jks

# Python
__pycache__/
*.py[cod]
*$py.class

# Scala
.bloop/
.bsp/
.metals/
target/
project/project/
build.properties
metals.sbt

# Javascript
dist/
node_modules/
package-lock.json

# Go
redpanda-franz-example