# Common config
bootstrap.servers = localhost:19092

# Producer config
acks      = all
linger.ms = 0

# Consumer config
group.id                = redpanda_spark_stream
auto.offset.reset       = earliest
enable.auto.commit      = false
auto.commit.interval.ms = 0
session.timeout.ms      = 45000

# Security config required for Redpanda Cloud
# security.protocol = SASL_SSL
# sasl.mechanism    = SCRAM-SHA-256
# sasl.jaas.config  = org.apache.kafka.common.security.scram.ScramLoginModule required username=${USERNAME} password=${PASSWORD}
